<div class="login-container">
    <h1 class="login-title">Sign in to continue</h1>
    <form data-test="login-form" class="login-form" [formRoot]="form" (submit)="login(form().value())">
        <fieldset class="login-fieldset">
            <mat-form-field class="login-field">
                <mat-label>Email</mat-label>
                <input type="email" title="Email address" matInput data-test="email" autocomplete="email"
                    [formField]="form.email">
                @if (form.email().touched() && !form.email().valid()) {
                <mat-error>
                    @for (error of form.email().errors(); track error.kind) {
                    <span>{{ error.message }}</span>
                    }
                </mat-error>
                }
            </mat-form-field>
            <mat-form-field class="login-field">
                <mat-label>Password</mat-label>
                <input type="password" title="Password" matInput data-test="password" autocomplete="current-password"
                    [formField]="form.password">
                @if (form.password().touched() && !form.password().valid()) {
                <mat-error>
                    @for (error of form.password().errors(); track error.kind) {
                    <span>{{ error.message }}</span>
                    }
                </mat-error>
                }
            </mat-form-field>
            <div class="login-actions">
                <button type="submit" mat-icon-button [disabled]="!form().valid() || act.act().isProcessing">
                    <mat-icon [class.value]="'success-light'" [class.invalid]="'warning-light'">
                        login
                    </mat-icon>
                </button>
            </div>
        </fieldset>
    </form>
</div>
