<div class="vitals-header">
    <h1 class="text-center h1">Vitals</h1>
</div>

<div class="container">
    <div class="patient-details">
        @if (patient(); as p) {
        <h2>{{ p.fullName }}</h2>
        <p><strong>Hospital ID:</strong> {{ p.hospitalID }}</p>
        <p><strong>Age:</strong> {{ p.age }}</p>
        <p><strong>Sex:</strong> {{ p.sex }}</p>
        <p><strong>Type:</strong> {{ p.visitType }}</p>
        <div class="button-group">
            <button type="button" class="btn-primary" (click)="addVitals()">
                <mat-icon>add</mat-icon> Add Vitals
            </button>
            <button type="button" class="btn-secondary" routerLink="/consulting/{{p.patientsID}}/vitals">
                <mat-icon>edit</mat-icon> Consulting
            </button>
        </div>
        }
    </div>
    <div class="vitals">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Temp (°C)</th>
                    <th scope="col">Weight (kg)</th>
                    <th scope="col">BP (mmHg)</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
            <tbody>
                @for (v of vitals(); track $index) {
                <tr>
                    <td>{{ v.dateSeen|date:'dd-MMM-yyyy' }}</td>
                    <td>{{ v.temperature }}</td>
                    <td>{{ v.weight }}</td>
                    <td>
                        {{ v.systol }}/{{ v.diastol }}
                    </td>
                    <td>
                        <button type="button" class="btn-secondary" mat-icon-button (click)="viewVitals(v)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="5">No vitals recorded.</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
