<h1>Registrations</h1>
<button type="button" mat-button title="Register new patient" (click)="addRegistration()">
    <mat-icon>person_add</mat-icon> New registration
</button>
<table class="table">
    <thead>
        <th>Full Name</th>
        <th>Hospital ID</th>
        <th>Card ID</th>
        <th>Scheme</th>
        <th>Age</th>
        <th>Sex</th>
        <th>Expiry Date</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @for (p of list(); track p.patientsID) {
        <tr>
            <td>{{p.fullname}}</td>
            <td>{{p.hospitalID}}</td>
            <td>{{p.ghanaCard}}</td>
            <td>
                <button (click)="addRegistration(p)" mat-button type="button" title="Edit {{p.fullname}}">
                    <mat-icon>edit</mat-icon> Edit
                </button>
                <button (click)="deleteRegistration(p.patientsID)" mat-button color="warn" type="button"
                    title="Delete {{p.fullname}}">
                    <mat-icon>delete</mat-icon> Delete
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>
