<h2 mat-dialog-title class="text-secondary text-center">Insurance Details &mdash; {{data.patient.fullName}}</h2>
<mat-dialog-content>
    <form [formRoot]="form">
        <fieldset>
            <legend>Add new insurance scheme</legend>
            <div class="fields-row">
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Scheme</mat-label>
                        <mat-select [formField]="form.schemesID">
                            @for (s of schemes.insurances(); track s.schemesID) {
                            <mat-option [value]="s.schemesID">{{s.schemeName}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Card ID</mat-label>
                        <input title="Identity of the insurance provider" matInput type="text"
                            [formField]="form.cardID">
                        @if (form.cardID().errors()[0]; as err) {
                        <mat-error>
                            @if (err?.kind === 'required') {<span>*</span>}
                            @if (err?.kind === 'minLength') {<span>{{val.minLenMsg(err)}}</span>}
                            @if (err?.kind === 'maxLength') {<span>{{val.maxLenMsg(err)}}</span>}
                        </mat-error>
                        }
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="outline">
                        <mat-label>Expiry Date</mat-label>
                        <input title="Expiry date of the insurance card" matInput [matDatepicker]="picker"
                            [formField]="form.expiryDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="actions">
                    <button type="submit" [disabled]="form().invalid()" mat-flat-button color="primary">
                        <mat-icon>{{isEdit() ? 'edit' : 'add'}}</mat-icon> {{isEdit() ? 'Edit' : 'Add'}} Scheme
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
    @if (data.patient.schemes.length < 1) { <p>No insurance schemes on record.</p>
        } @else {
        <table class="table table-striped table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th>Scheme</th>
                    <th>Coverage</th>
                    <th>Card ID</th>
                    <th>Expiry Date</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @for (s of patientSchemes(); track $index) {
                <tr>
                    <td>{{s.schemeName}}</td>
                    <td>{{s.coverage}}</td>
                    <td>{{s.cardID}}</td>
                    <td>{{s.expiryDate |date}}</td>
                    <td>
                        <button type="button" mat-button class="color-secondary" (click)="editScheme(s)">
                            <mat-icon>edit</mat-icon> Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" mat-button class="color-error" (click)="removeScheme(s)">
                            <mat-icon>delete</mat-icon> Delete
                        </button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        }
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button type="button" title="Close" mat-button (click)="close()">
        <mat-icon>close</mat-icon> Close</button>
</mat-dialog-actions>
