<div class="register-wrapper">
    <div class="register-container">
        <h1 class="register-title">Register New User</h1>
        <form class="register-form" [formGroup]="form" (ngSubmit)="register(form.value)">
            <fieldset class="register-fieldset">
                <mat-form-field appearance="outline">
                    <mat-label>Title</mat-label>
                    <mat-select title="Title" matInput formControlName="title" autocomplete="honorific-prefix">
                        <mat-option value="Dr">Dr</mat-option>
                        <mat-option value="Mr">Mr</mat-option>
                        <mat-option value="Mrs">Mrs</mat-option>
                        <mat-option value="Ms">Ms</mat-option>
                        <mat-option value="Prof">Prof</mat-option>
                    </mat-select>
                    @if (form.get('title')?.errors; as err) {
                    <mat-error>
                        @if (err?.['required']) {<span>*</span>}
                        @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}}
                            characters</span>}
                        @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}}
                            characters</span>}
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input title="Full Name" matInput formControlName="fullName" autocomplete="name">
                    <mat-error>
                        @if (form.get('fullName')?.errors; as err) {
                        @if (err?.['required']) {<span>*</span>}
                        @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}}
                            characters</span>}
                        @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}}
                            characters</span>}
                        }
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" title="Email" matInput formControlName="userName" autocomplete="email">
                    @if (form.get('userName')?.errors; as err) {
                    <mat-error>
                        @if (err?.['required']) {<span>*</span>}
                        @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}} </span>}
                        @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}} </span>}
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone number</mat-label>
                    <input type="tel" title="Phone number" matInput formControlName="phoneNumber" autocomplete="mobile">
                    @if (form.get('phoneNumber')?.errors; as err) {
                    <mat-error>
                        @if (err?.['required']) {<span>*</span>}
                        @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}} </span>}
                        @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}} </span>}
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input title="Password" matInput formControlName="password" type="password"
                        autocomplete="new-password">
                    @if (form.get('password')?.errors; as err) {
                    <mat-error>
                        @if (err?.['required']) {<span>*</span>}
                        @if (err?.['minlength']) {<span>min: {{err?.['minlength']?.['requiredLength']}} </span>}
                        @if (err?.['maxlength']) {<span>max: {{err?.['maxlength']?.['requiredLength']}} </span>}
                        @if (err?.['passwordCheck']; as cmp) {
                        @if (cmp === 'uppercase') {<span>Uppercase </span>}
                        @if (cmp === 'lowercase') {<span>Lowercase </span>}
                        @if (cmp === 'number') {<span>Number </span>}
                        @if (cmp === 'specialCharacter') {<span>Symbol </span>}
                        }
                    </mat-error>
                    }
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input title="Confirm Password" matInput formControlName="confirmPassword" type="password"
                        autocomplete="new-password">
                    @if (form.get('confirmPassword')?.errors; as err) {
                    <mat-error>
                        @if (err?.['required']) {<span>*</span>}
                        @if (err?.['minlength']) {<span>{{err?.['minlength']?.['requiredLength']}} </span>}
                        @if (err?.['maxlength']) {<span>{{err?.['maxlength']?.['requiredLength']}} </span>}
                        <!-- @if (err?.['passwordCheck']; as cmp) {
                @if (cmp === 'uppercase') {<span>Uppercase </span>}
                @if (cmp === 'lowercase') {<span>Lowercase </span>}
                @if (cmp === 'number') {<span>No number </span>}
                @if (cmp === 'specialCharacter') {<span>Symbol </span>}
                } -->
                    </mat-error>
                    }
                </mat-form-field>
            </fieldset>
            <div class="register-actions">
                @if (form.errors?.['passwordMismatch']) {
                <div class="password-mismatch-error">
                    <mat-error>
                        <span>Passwords do not match</span>
                    </mat-error>
                </div>
                }
                <button mat-raised-button color="primary" type="submit" class="register-btn"
                    [disabled]="form.invalid || act.act().isProcessing">
                    Register
                </button>
                <button type="button" mat-button [routerLink]="['/auth/login']" class="back-btn">Back to login</button>
            </div>
        </form>
    </div>
</div>
