<div class="add-registration-wrapper">
    <div class="add-registration-container">
        <h2 class="text-secondary text-center">{{data.patient ? 'Edit' : 'Register'}} Patient</h2>
        <form class="add-registration-form" [formRoot]="form">
            <fieldset class="add-registration-fieldset">
                <mat-form-field appearance="outline">
                    <mat-label>Surname</mat-label>
                    <input type="text" title="Surname" matInput [formField]="form.surname" autocomplete="family-name">
                    @if (form.surname().errors()[0]; as err) {
                    <mat-error>
                        @if (err?.kind === 'required') {<span>*</span>}
                        @if (err?.kind === 'minLength') {<span>{{val.minLenMsg(err)}}</span>}
                        @if (err?.kind === 'maxLength') {<span>{{val.maxLenMsg(err)}}</span>}
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Other Names</mat-label>
                    <input type="text" title="Other Names" matInput [formField]="form.otherNames"
                        autocomplete="given-name">
                    @if (form.otherNames().errors()[0]; as err) {
                    <mat-error>
                        @if (err?.kind === 'required') {<span>*</span>}
                        @if (err?.kind === 'minLength') {<span>{{val.minLenMsg(err)}}</span>}
                        @if (err?.kind === 'maxLength') {<span>{{val.maxLenMsg(err)}}</span>}
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input type="date" title="Date of Birth" matInput [formField]="form.dateOfBirth">
                    @if (form.dateOfBirth().errors()[0]; as err) {
                    <mat-error>
                        @if (err?.kind === 'required') {<span>*</span>}
                    </mat-error>
                    }
                </mat-form-field>
            </fieldset>

            <fieldset class="add-registration-fieldset">
                <mat-form-field appearance="outline">
                    <mat-label>Ghana Card</mat-label>
                    <input type="text" title="Ghana Card" matInput [formField]="form.ghanaCard" autocomplete="off">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Sex</mat-label>
                    <mat-select title="Sex" [formField]="form.sex">
                        @for (s of ['Male', 'Female']; track $index) {
                        <mat-option [value]="s">{{s}}</mat-option>
                        }
                    </mat-select>
                    @if (form.sex().errors()[0]; as err) {
                    <mat-error>
                        @if (err?.kind === 'required') {<span>*</span>}
                    </mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input type="tel" title="Phone Number" matInput [formField]="form.phoneNumber" autocomplete="tel">
                    @if (form.phoneNumber().errors()[0]; as err) {
                    <mat-error>
                        @if (err?.kind === 'required') {<span>*</span>}
                        @if (err?.kind === 'minLength') {<span>{{val.minLenMsg(err)}}</span>}
                        @if (err?.kind === 'maxLength') {<span>{{val.maxLenMsg(err)}}</span>}
                    </mat-error>
                    }
                </mat-form-field>
            </fieldset>

            <div class="form-actions">
                <button type="button" mat-button (click)="close()">Cancel</button>
                <button type="button" mat-flat-button color="primary" (click)="submit()">
                    {{data.patient ? 'Save' : 'Register'}}
                </button>
            </div>
        </form>
    </div>
</div>
