.add-registration-wrapper {
    margin: .8rem;
}

.add-registration-fieldset {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    gap: .51rem;
    border: none;
    padding: 0;
}
