.pane {
    display: flex;
    gap: 1rem;
}

.left-pane {
    margin-left: 2rem;
    flex: 1;
}

mat-tab-group {
    margin-top: .52rem;
    border-top: .21rem solid #600e8f;
}

.info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    .card-text {
        margin: 0;
        font-size: 0.875rem;

        strong {
            font-weight: 600;
        }
    }

}
