.panes {
    display: grid;
    gap: 1rem;
    grid-template-columns: 4fr 2fr;
}

form {
    margin: 1rem;

    .long-fieldset {
        display: grid;
        grid-template-columns: repeat(2, 15rem);
        align-items: start;
        gap: .51rem;
        border: none;
        padding: 0.75rem;
    }

    .short-fieldset {
        display: grid;
        grid-template-columns: repeat(3, 10rem);
        align-items: start;
        gap: .51rem;
        padding: 0.75rem;
        border: none;
        // &>* {
        //     max-width: 10rem;
        // }
    }

    .avpu {
        display: grid;
        grid-template-columns: repeat(4, 7rem);
        align-items: start;
        gap: .51rem;
        padding: 0.75rem;
        border: none;
        // &>* {
        //     max-width: 10rem;
        // }
    }
}
